body
{
    background-color: lightgray;
}

.form-control,
.btn
{
    border-radius: 0;
}

.absolute-container
{
    width: 25%;
    background-color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
}

.separator
{
    display: block;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid lightgray;
    clear: both;
}

/*#################### login #################### */

#login-box input
{
    display: block;
    margin: 0.5em 0;
    width: 100%;
    border: 1px solid lightgray;
    padding: 0.5em;
    transition-property: border-color, background-color;
    transition-duration:  0.5s;
    
}

#login-box input:focus
{
    outline: none;
}

#login-box input:hover
{
    border-color: black;
}

#login-box label
{
    margin: 0;
}

/*#################### nav #################### */

.nav button
{
    outline: 0;
    transition: background-color 0.25s;
}

.nav button:hover
{
    background-color: white;
}

#data-container > div
{
    visibility: hidden;
    display: none;
}

#data-container > div.visible
{
    visibility: visible;
    display: block;
}

/*#################### tab-layout #################### */
.tab-layout.container
{
    max-width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 1em;
}

.tab-layout li
{
    list-style-type: none;
    margin: 0;
    padding: 0.25em;
}

.tab-layout ul
{
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    position: relative;
}

.tab-layout ul.header li
{
    display: block;
    border: 1px solid lightgray;
}

.tab-layout ul.header li.active
{
    background-color: lightgray;
    border-bottom: 0;
}

.tab-layout ul.body
{
    margin-top: 0;
    width: 100%;
    border: 1px solid lightgray;
    border-top-width: 3px;
    visibility: hidden;
    display: none;
}

.tab-layout ul.body.visible
{
    visibility: visible;
    display: flex;
}

.tab-layout ul.body > li
{
    border: 1px lightgray solid;
    margin: 0.25em;
}

.tab-layout ul.body > li .group-header
{
    text-align: center;
    font-size: small;
    background-color: lightgray;
    margin-bottom: 2px;
}

.tab-layout ul.body > li li
{
    border-right: 1px dotted lightgray;
}

.tab-layout ul.body > li li:last-of-type
{
    border-right: 0;
}

.tab-layout ul.body > li li,
.tab-layout ul.header li
{
    transition: background-color 0.25s;
    cursor: pointer;
}

.tab-layout ul.body > li li:hover,
.tab-layout ul.header li:hover
{
    background-color: lightgray;
}

.tab-layout ul.body > li li.disabled
{
    color: darkgray;
    cursor: default;
}

.tab-layout ul.body > li li.disabled:hover
{
    background-color: white;
}

.tab-layout li:hover > ul.dropdown
{
    visibility: visible;
    display: block;
}

.tab-layout ul.dropdown
{
    position: absolute;
    flex-direction: column;
    background-color: white;
    border: 1px solid lightgray;
    left: 0;
    min-width: 100%;
    width: max-content;
    visibility: hidden;
    display: none;
}

.tab-layout ul.dropdown li.new-group
{
    border-top: 1px solid lightgray;
}

/*#################### table #################### */

.dataTable
{
    overflow-y: scroll;
    max-height: 65%;
}

/* width */
.dataTable::-webkit-scrollbar {
    width: 15px;
    margin: 0 0.25em;
}
  
/* Track */
.dataTable::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-left: solid 0.25em white;
}

/* Handle */
.dataTable::-webkit-scrollbar-thumb {
    background: #888;
    border-left: solid 0.25em white;
}

/* Handle on hover */
.dataTable::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dataTable table
{ 
    border-collapse: collapse; 
    border: 1px solid #CCB; 
    width: 100%; 
}

.dataTable table tbody tr
{ 
    transition: background-color 0.25s;
}

.dataTable table tbody tr:hover
{ 
    background-color: lightgray;
}


.dataTable table tbody tr.active
{ 
    background-color: #17a2b8;
}

.dataTable table td, 
.dataTable table th 
{ 
    padding: 5px; 
    border: 1px solid #E0E0E0; 
}

.dataTable table th 
{ 
    border-bottom: 1px solid black;
    text-align: left; 
}

.dataTable table input
{
    width: unset;
}

.dataTable table input[type="checkbox"]
{
    visibility: hidden;
}

.dataTable table input[type="checkbox"]:checked
{
    visibility: visible;
    height: 100%;
    width: 100%;
    text-align: center;
}

.dataTable table input[type="checkbox"]:checked::after
{
    color: white;
    padding: 0 0.5em;
    background-color: green;
    content: "\2713";
}

/*input.invalid 
{ 
    background: red; 
    color: #FDFDFD; 
}*/

/*#################### home #################### */

div.back-button
{
    float: left;
    transition: background-image 0.5s;
    border-radius: 1rem;
    background-image: url("../img/back-button.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 2rem;
    width: 2rem;
    margin-right: 1em;
}

div.back-button:hover
{
    background-image: url("../img/back-button-filled.svg");
}

#home-container .d-flex
{
    margin-bottom: 1em;
}

#home-container div.d-flex h2
{
    margin-bottom: 0;
}

div.back-button svg
{
    height: 2em;
    width: auto;
}

#home-container{
    width: 75%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 1em;
}

#search-form .header
{
    font-weight: bold;
}

#search-form div.col-sm
{
    padding-right: 5px;
}

#search-form div.col-sm-auto
{
    padding-left: 5px;
}

/*#################### grades-modal #################### */

#grades-modal .modal-dialog
{
    max-width: 700px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bootstrap-list
{
    overflow-y: scroll;
    max-height: 500px; /*TODO*/
}

/* width */
.bootstrap-list::-webkit-scrollbar {
    width: 15px;
    margin: 0 0.25em;
}
  
/* Track */
.bootstrap-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-left: solid 0.25em white;
}

/* Handle */
.bootstrap-list::-webkit-scrollbar-thumb {
    background: #888;
    border-left: solid 0.25em white;
}

/* Handle on hover */
.bootstrap-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.bootstrap-list div.row
{
    border: 1px solid lightgray;
    border-top: 0;
    padding: 0.5em;
    transition: background-color 0.5s;
    cursor: default;
}

.bootstrap-list div.row:first-of-type
{
    border-top: 1px solid lightgray;
}

.bootstrap-list div.row:hover
{
    background-color: lightgray;
}

.bootstrap-list div.row.selected
{
    background-color: #17a2b8;;
}

.bootstrap-list div.row div
{
    border-right: 1px solid lightgray;
}

.bootstrap-list div.row div:last-of-type
{
    border: 0;
}

.bootstrap-list div.grid-header
{
    border-bottom-color: black;
}

.bootstrap-list div.grid-header:hover
{
    background-color: unset;
}

/*#################### class-teacher-modal #################### */

#class-teacher-modal .modal-dialog
{
    max-width: 70%;
    width: 70%;
}

#class-teacher-head .row
{
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid lightgray;
}

#class-teacher-head .row .col-sm-auto.text
{
    padding: 0.5em;
}

#class-teacher-head .row .col-sm-auto button
{
    height: 100%;
}

#class-teacher-head h6
{
    margin: 0;
}

#class-teacher-head label
{
    font-weight: bold;
}

#class-teacher-head textarea
{
    width: 100%;
    resize: none;
    background-color: white;
}

#class-teacher-head textarea.active
{
    outline: -webkit-focus-ring-color auto 1px;
}

#phrasesTable
{
    max-height: 400px;
}