body
{
    background-color: lightgray;
}

.form-control,
.btn
{
    border-radius: 0;
}

.absolute-container
{
    min-width: 480px;
    width: 25%;
    background-color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
}

@media only screen and (max-width: 480px){
    .absolute-container
    {
        width: 100%;
        max-width: unset;
    }
}

.separator
{
    display: block;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid lightgray;
    clear: both;
}

.hidden
{
    visibility: hidden;
    display: none;
}

svg
{
    width: 1em;
    height: 1em;
}

/*#################### login #################### */

#login-box input
{
    display: block;
    margin: 0.5em 0;
    width: 100%;
    border: 1px solid lightgray;
    padding: 0.5em;
    transition-property: border-color, background-color;
    transition-duration:  0.5s;
    
}

#login-box input:focus
{
    outline: none;
}

#login-box input:hover
{
    border-color: black;
}

#login-box label
{
    margin: 0;
}

/*#################### header #################### */
#header
{
    align-items: center;
}

#header h2
{
    margin: 0;
}

#header img
{
    height: 2.5rem; /* TODO */
}

/*#################### nav #################### */

.nav button
{
    outline: 0;
    transition: background-color 0.25s;
}

.nav button:hover
{
    background-color: white;
}

#data-container > div
{
    visibility: hidden;
    display: none;
}

#data-container > div.visible
{
    visibility: visible;
    display: block;
}

/*#################### tab-layout #################### */
.tab-layout.container
{
    max-width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 1em;
}

.tab-layout li
{
    list-style-type: none;
    margin: 0;
    padding: 0.25em;
}

.tab-layout ul
{
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    position: relative;
}

.tab-layout ul.header li
{
    display: block;
    border: 1px solid lightgray;
}

.tab-layout ul.header li.active
{
    background-color: lightgray;
    border-bottom: 0;
}

.tab-layout ul.body
{
    margin-top: 0;
    width: 100%;
    border: 1px solid lightgray;
    border-top-width: 3px;
    visibility: hidden;
    display: none;
}

.tab-layout ul.body.visible
{
    visibility: visible;
    display: flex;
}

.tab-layout ul.body > li
{
    border: 1px lightgray solid;
    margin: 0.25em;
}

.tab-layout ul.body > li .group-header
{
    text-align: center;
    font-size: small;
    background-color: lightgray;
    margin-bottom: 2px;
}

.tab-layout ul.body > li li
{
    border-right: 1px dotted lightgray;
}

.tab-layout ul.body > li li:last-of-type
{
    border-right: 0;
}

.tab-layout ul.body > li li,
.tab-layout ul.header li
{
    transition: background-color 0.25s;
    cursor: pointer;
}

.tab-layout ul.body > li li:hover,
.tab-layout ul.header li:hover
{
    background-color: lightgray;
}

.tab-layout ul.body > li li.disabled
{
    color: darkgray;
    cursor: default;
}

.tab-layout ul.body > li li.disabled:hover
{
    background-color: white;
}

.tab-layout li:hover > ul.dropdown
{
    visibility: visible;
    display: block;
}

.tab-layout ul.dropdown
{
    position: absolute;
    flex-direction: column;
    background-color: white;
    border: 1px solid lightgray;
    left: 0;
    min-width: 100%;
    width: max-content;
    visibility: hidden;
    display: none;
}

.tab-layout ul.dropdown li.new-group
{
    border-top: 1px solid lightgray;
}

/*#################### table #################### */

.dataTable
{
    overflow-y: scroll;
    max-height: 65%;
}

/* width */
.dataTable::-webkit-scrollbar {
    width: 15px;
    margin: 0 0.25em;
}
  
/* Track */
.dataTable::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-left: solid 0.25em white;
}

/* Handle */
.dataTable::-webkit-scrollbar-thumb {
    background: #888;
    border-left: solid 0.25em white;
}

/* Handle on hover */
.dataTable::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dataTable table
{ 
    border-collapse: collapse; 
    /*border: 1px solid #CCB; */
    width: 100%; 
}

.dataTable table tbody tr
{ 
    height: 2.5rem;
    transition: background-color 0.25s;
    cursor: default;
}

.dataTable table tbody tr:hover,
.dataTable table tbody tr:hover .editablegrid-NotenKrz
{ 
    background-color: lightgray;
}


.dataTable table tbody tr.active,
.dataTable table tbody tr.active .editablegrid-NotenKrz
{ 
    background-color: #17a2b8;
}

.dataTable table td, 
.dataTable table th 
{ 
    padding: 5px; 
    border: 1px solid #E0E0E0; 
}

.dataTable table th 
{ 
    border-bottom: 1px solid black;
    text-align: left; 
    cursor: pointer;
    transition: background-color 0.25s;
}

.dataTable table th:hover
{
    background-color: lightgrey;
}

.dataTable table input
{
    width: unset;
}

.dataTable td.number
{
    font-weight: normal;
}

input.invalid 
{ 
    background: #f8d7da; 
    color: #721c24;
    outline-color: #721c24;
}


.dataTable .editablegrid-ID,
.dataTable .editablegrid-Leistung_ID,
.dataTable .editablegrid-Abschnitt_ID
{
    visibility: hidden;
    display: none;
}

.dataTable .editablegrid-NotenKrz input
{
    text-transform: uppercase;
}

.editablegrid-NotenKrz
{
    background-color: #eee;
    transition: background-color 0.25s;
}

.dataTable.stickyHeader tbody::before
{
    content: " ";
    white-space: pre;
    height: 31px;
    display: block;
}

#data-grades,
#data-class-teacher,
#phrases,
#data-exams
{
    position: relative;
}

.dataTable.stickyHeader thead tr
{
    background-color: white;
    top: 0;
    left: 0;
    z-index: 10;
}

/*#################### home #################### */

div.back-button
{
    float: left;
    transition: background-image 0.5s;
    border-radius: 1rem;
    background-image: url("../img/back-button.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 2rem;
    width: 2rem;
    margin-right: 1em;
}

div.back-button:hover
{
    background-image: url("../img/back-button-filled.svg");
}

#home-container .d-flex
{
    margin-bottom: 1em;
}

#home-container div.d-flex h2
{
    margin-bottom: 0;
}

div.back-button svg
{
    height: 2em;
    width: auto;
}

#home-container{
    min-width: 1400px;
    width: 75%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 1em;
}

@media only screen and (max-width: 1400px){
    #home-container{
        width: 100%;
        min-width: unset;
    }
}

#search-form .header
{
    font-weight: bold;
}

#search-form div.col-sm
{
    padding-right: 5px;
}

#search-form div.col-sm-auto
{
    padding-left: 5px;
}

/*#################### grades-modal #################### */

#grades-modal .modal-dialog
{
    max-width: 700px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bootstrap-list
{
    overflow-y: scroll;
    max-height: 500px; /*TODO*/
}

/* width */
.bootstrap-list::-webkit-scrollbar {
    width: 15px;
    margin: 0 0.25em;
}
  
/* Track */
.bootstrap-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-left: solid 0.25em white;
}

/* Handle */
.bootstrap-list::-webkit-scrollbar-thumb {
    background: #888;
    border-left: solid 0.25em white;
}

/* Handle on hover */
.bootstrap-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.bootstrap-list div.row
{
    border: 1px solid lightgray;
    border-top: 0;
    padding: 0.5em;
    transition: background-color 0.5s;
    cursor: default;
}

.bootstrap-list div.row:first-of-type
{
    border-top: 1px solid lightgray;
}

.bootstrap-list div.row:hover
{
    background-color: lightgray;
}

.bootstrap-list div.row.selected
{
    background-color: #17a2b8;;
}

.bootstrap-list div.row div
{
    border-right: 1px solid lightgray;
}

.bootstrap-list div.row div:last-of-type
{
    border: 0;
}

.bootstrap-list div.grid-header
{
    border-bottom-color: black;
}

.bootstrap-list div.grid-header:hover
{
    background-color: unset;
}

/*#################### class-teacher-table #################### */

#classTeacherTable .editablegrid-ASV,
#classTeacherTable .editablegrid-AuE,
#classTeacherTable .editablegrid-ZeugnisBem
{
    visibility: hidden;
    display: none;
}

#classTeacherTable .editablegrid-ASV.show,
#classTeacherTable .editablegrid-AuE.show,
#classTeacherTable .editablegrid-ZeugnisBem.show
{
    visibility: visible;
    display: table-cell;
}

#classTeacherTable.dataTable table input[type="checkbox"]
{
    visibility: hidden;
}

#classTeacherTable.dataTable table input[type="checkbox"]:checked
{
    visibility: visible;
    height: 100%;
    width: auto;
    text-align: center;
    position: relative;
}

#classTeacherTable.dataTable table input[type="checkbox"]:checked::after
{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: white;
    padding: 0 0.5em;
    background-color: green;
    content: "\2713";
}

/*#################### class-teacher-modal #################### */

#class-teacher-modal .modal-dialog
{
    max-width: 70%;
    width: 70%;
}

#class-teacher-head .row
{
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid lightgray;
}

#class-teacher-head .row .col-sm-auto.text
{
    padding: 0.5em;
}

#class-teacher-head h6
{
    margin: 0;
}

#class-teacher-head label
{
    font-weight: bold;
}

#class-teacher-head textarea
{
    width: 100%;
    resize: none;
    background-color: white;
}

#class-teacher-head textarea.active
{
    outline: -webkit-focus-ring-color auto 1px;
}

#class-teacher-head label.no-margin
{
    margin: 0;
}

#phrasesTable
{
    max-height: 300px;
}

/*#################### progress-message-box #################### */
.progress-message-box button
{
    display: none;
}

.progress-message-box.ready button,
.progress-message-box.failed button
{
    display: block;
}

.spinner-ready,
.spinner-failed{
    width: 2rem;
    height: 2rem;
    display: none;
}

.progress-message-box.ready .spinner-ready
{
    display: block;
}

.progress-message-box.failed .spinner-failed
{
    display: block;
}

.progress-message-box.ready .spinner-border,
.progress-message-box.failed .spinner-border
{
    display: none;
}

.spinner-ready svg
{
    width: 100%;
    height: 100%;
    color: var(--success);
}

.spinner-failed svg
{
    width: 100%;
    height: 100%;
    color: var(--danger);
}

/*#################### tooltip #################### */

[data-tooltip]:not(.disabled) {
    position: relative;
}
 
[data-tooltip]:not(.disabled)::after {
    content: attr(data-tooltip);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s;

    display: block;
    position: absolute; 
    width: auto;
    font-size: 1rem;
    font-weight: normal;

    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 0.25em 0.5em;
    border-radius: 6px;

    z-index: 2;
    bottom: 100%;
    margin-bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
}

[data-tooltip]:not(.disabled)::before {
    content: "";
    position: absolute;
    display: block;	
    opacity: 0;
    transition: opacity 0.1s;
    bottom: 100%;
    left: 50%;
    border-width: 1rem 0.5rem 0;
    border-style: solid;
    border-color: #555 transparent;
    margin-left: -0.5rem;
    z-index: 1;
}
 
[data-tooltip]:not(.disabled):hover::after, [data-tooltip]:not(.disabled):hover::before {
  animation-name: tooltip;
  animation-duration: 1s;
  opacity: 1;
}

@keyframes tooltip {
    0%   {opacity: 0;}
    99%  {opacity: 0;}
    100% {opacity: 1;}
  }